---
layout: base
pagination:
  enabled: true
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <hr>

  
  <!--News-->
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}

    {%- assign recent_posts = posts | slice: 0, 10 -%}

    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%Y %b %-d" -%}
      {%- for post in recent_posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <span class="post-text">
            {{ post.title }}
            {{ post.content }}
        </span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <a href="/news" class="see-more-link">More news →</a>
  {%- endif -%}

</div>
